		<!-- top nav with logo -->
		<div class="container" style="padding-top:20px">
			<div class="row">
				<div class="span1">
				</div>
				<div class="span5">
					<h1 class="fontface" style="color:#fff">Launch Brick Labs</h1>
					<h6>Technology - Business - Design</h6>
				</div>
				<div class="span6">
					<ul class="nav nav-pills pull-right">
						<li><%= link_to "Home", ("/home") %></li>
						<li><%= link_to "Services", ("/services") %></li>
						<li><%= link_to "Work", ("/work") %></li>
						<li><%= link_to "Process", ("/process") %></li>
						<li><%= link_to "About Us", ("/about")%></li>
						<li><%= link_to "Contact", ("/contact") %></li>
					</ul>
				</div>
			</div><!-- end row -->
		</div> <!-- end container -->