<div class="hero-unit">
	<h1>Launch Your Brick & Mortar Online</h1>
</div>

<div class="row">
	<div class="span4">
		<blockquote>
			<p>Love working with Mark and Marc.  They helped us double our wazoo and triple our flat booty.</p>
			<small>Happy Client</small>
		</blockquote>
	</div>
	<div class="span8">
		<%= image_tag "http://placehold.it/600x400" %>
	</div>

</div>



<div class="row" style="padding-top:20px">
	<div id="port-thmbs" class="span12">
		<div style="text-align:center;padding-bottom:20px"> 
			<h2>Some Of Our Work</h2>
		</div>
		<ul class="thumbnails">
		  <li class="span1">
		  </li>
		  <li class="span2">
		    <div class="thumbnail">
		      <%= image_tag "screenshots/carousel/angelsquare.jpg" %>
		      <h5>AngelSquare</h5>
		      <p>Design, Application Development, Marketing, Analytics</p>
		    </div>
		  </li>
		  <li class="span2">
		  	<div class="thumbnail">
		      <%= image_tag "screenshots/carousel/bpa.jpg" %>
		      <h5>Thumbnail label</h5>
		      <p>Thumbnail caption right here...</p>
		    </div>
		  </li>
		  <li class="span2">
		    <div class="thumbnail">
		      <%= image_tag "screenshots/carousel/byobeast.jpg" %>
		      <h5>Thumbnail label</h5>
		      <p>Thumbnail caption right here...</p>
		    </div>
		  </li>
		  <li class="span2">
		  	<div class="thumbnail">
		      <%= image_tag "screenshots/carousel/wgt.jpg" %>
		      <h5>Thumbnail label</h5>
		      <p>Thumbnail caption right here...</p>
		    </div>
		  </li>
		  <li class="span2 offset2">
		    <div class="thumbnail">
		      <%= image_tag "screenshots/carousel/incflow.jpg" %>
		      <h5>Thumbnail label</h5>
		      <p>Thumbnail caption right here...</p>
		    </div>
		  </li>
		  <li class="span1">
		  </li>
		</ul>
	</div>
</div>



<div class="well" style="margin-top:20px;">
	<div class="row">
<div class="span4" >
	<h2>We speak geek</h2>
	<p>Your business needs to be online.  You want to save money? Increase sales?  Bring your product and skills to more and more people?  Then you need to be online</p>
	<p>The masters of the online world speak geek fluently.  They understand front-ends, back-ends, SQL, PostgreSQL and MongoDB.  If you don't speak this language, you risk going the wrong direction.  If you don't speak geek, you need a translator and guide</p>

	<p>We love website, blogs, social media.  But mostly, we love the businesses that our clients run.  Real world products and services, for real people.  We translate, we guide, and we advocate for the success of our clients and their businesses.</p>
</div>

<div class="span4">
	<h2>We speak business</h2> 
	<p>Launch Brick Labs also speak business.  That's how we learn about your specific needs, and help you find the best tools available.  Your accounting software, your shipping policies, your marketing and promotions-- we want to hear it all.</p>

	<p>Technology is near the heart of every enterprise.  The true heart of your business is you, your employees, and the value you offer.</p>

	<p>Whatever your business offers, you need the best technology and services to maximize your potential in the marketplace. We help guide you, so that you can automate certain aspects of your business and unlock new efficiencies. We can help you harness the latest technology to achieve profits and growth you haven't exprienced before.</p>
</div>

<div class="span4">
	<h2>We love design</h2>
	<p>Online business is not just about beautiful website design and catchy tweets.  The world of online business is a wide realm, and we help you enter.</p>

	<p>Our consulting practice is simple, comprehensive, and focused first on communication.  We start by learning about your business, your processes, and what you are about.  Then, we point out the best tools and strategies to break into the online realm.</p>

	<p>We translate between business and geek, on the fly.  Then, when you see the direction you'd like to head, we implement.</p>

	<p>Several packages are already available for you, as well as custom work for your website and business.</p>
</div>
</div>
</div>

