<div class="hero-unit">
		<h1>Order now and get 2 for 1!</h1>
</div>


<div class="container">
	<div class="row"> <!-- this row contains list of projects + sidebar -->



	
	<div class="span10">	<!-- begin list of projects -->


	<div class="row"><!-- container for single project-->
		<div class="span2"><!-- project description -->
			<ul class="project-description unstyled">
				<li>Project Name</li>
				<li>Client Name</li>
				<li>Description</li>
			</ul>
		</div>
		<div class="span4"><!-- main project image -->
			<%= image_tag "http://placehold.it/300x300", class: "thumbnail" %>
		</div>
		<div class="span4"> <!-- little project details -->
			<ul class="thumbnails">
				<li class="thumbnail">
					<%= image_tag "http://placehold.it/100x100" %>
				</li>
				<li class="thumbnail">
					<%= image_tag "http://placehold.it/100x100" %>
				</li>
				<li class="thumbnail">
					<%= image_tag "http://placehold.it/100x100" %>
				</li>
				<li class="thumbnail">
					<%= image_tag "http://placehold.it/100x100" %>
				</li>
			</ul>
		</div>
	</div>
	<hr>


	<div class="row"><!-- container for single project-->
		<div class="span2"><!-- project description -->
			<ul class="project-description unstyled">
				<li>Project Name</li>
				<li>Client Name</li>
				<li>Description</li>
			</ul>
		</div>
		<div class="span4"><!-- main project image -->
			<%= image_tag "http://placehold.it/300x300", class: "thumbnail" %>
		</div>
		<div class="span4"> <!-- little project details -->
			<ul class="thumbnails">
				<li class="thumbnail">
					<%= image_tag "http://placehold.it/100x100" %>
				</li>
				<li class="thumbnail">
					<%= image_tag "http://placehold.it/100x100" %>
				</li>
				<li class="thumbnail">
					<%= image_tag "http://placehold.it/100x100" %>
				</li>
				<li class="thumbnail">
					<%= image_tag "http://placehold.it/100x100" %>
				</li>
			</ul>
		</div>
	</div>



	</div><!-- end project list -->



<!-- sidebar -->
		<div class="span2">
			<p>Sidebar goes here!</p>
			<p>Catch our tweets!</p>
			<p>Smell our feets!</p>
			<%= image_tag "http://placehold.it/140x140" %>
		</div>



	</div><!-- end row -->
</div><!-- end container -->
