<!DOCTYPE html>
<html>
<head>
  <title>Launch Brick Labs</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<link href='http://fonts.googleapis.com/css?family=IM+Fell+English' rel='stylesheet' type='text/css'>

</head>
<body>

	<!--  top nav 
	=========================================================-->
	<header>	
		<div class="container" style="padding-top:20px">
			<div class="row">
				<div class="span1">
					<%= image_tag "launchbrick.png"%>
				</div>
				<div class="span5">
					<h1>Launch Brick Labs</h1>
					<h6>Technology - Business - Design</h6>
				</div>
				<div class="span6">
					<ul class="nav nav-pills pull-right">
						<li><%= link_to "Home", ("/home") %></li>
						<li><%= link_to "Services", ("/services") %></li>
						<li><%= link_to "Work", ("/work") %></li>
						<li><%= link_to "Process", ("/process") %></li>
						<li><%= link_to "About Us", ("/about")%></li>
						<li><%= link_to "Contact", ("/contact") %></li>
					</ul>
				</div>
			</div>
		</div>
	
	<div class="container" style="height:400px">
		<h1>Launch Your Business Now</h1>
	</div>

	<div style="text-align:center">
		<%= image_tag "earth.png"%>
	</div>

	</header>



	<!-- main content container
		========================================================-->
	<div class="container">
	<%= yield %>
	</div>



	<!--  footer
	=========================================================-->
	<footer>
		<div class="container">
			<div class="row">



				<div class="span3">
					<ul class="nav">
						<li><%= link_to "Home", page_path(:id => "home" ) %></li>
						<li><%= link_to "Work", page_path(:id => "work" ) %></li>
						<li><%= link_to "About", page_path(:id => "about" ) %></li>
						<li><%= link_to "Process", page_path(:id => "process" ) %></li>
						<li><%= link_to "Contact", page_path(:id => "contact") %></li>
					</ul>
				</div>



				<div class="span3">
					<ul class="nav">
						<li><%= link_to "Cantwell on LinkedIn" %></li>
						<li><%= link_to "Cantwell's Blog" %></li>
						<li><%= link_to "Cantwell on Twitter"  %></li>
					</ul>
				</div>



				<div class="span3">
					<ul class="nav">
						<li><%= link_to "Hurwitz on LinkedIn"  %></li>
						<li><%= link_to "Hurwitz's Blog" %></li>
						<li><%= link_to "Hurwitz on Twitter" %></li>
					</ul>
				</div>



				<div class="span3">
					<ul class="nav">
						<li>Copyright 2012 by Los Dos Marcos</li>
					</ul>
				</div>


			</div><!-- end row -->
		</div><!-- end footer container-->
	</footer>

</body>
</html>
