<!DOCTYPE html>
<html>
<head>
  <title>Launch Brick Labs</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<link href='https://fonts.googleapis.com/css?family=IM+Fell+English' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:300,400' rel='stylesheet' type='text/css'>

</head>
<body id="subpages">

	<!--  HEADER
	=========================================================-->


		<!-- top nav with logo -->
		<div class="container" style="padding-top:20px">
			<div class="row">
				<div class="span1">
				</div>
				<div class="span5">
					<h1 class="fontface" style="color:#fff">Launch Brick Labs</h1>
					<h6>Technology - Business - Design</h6>
				</div>
				<div class="span6">
					<ul class="nav nav-pills pull-right">
						<li><%= link_to "Home", ("/home") %></li>
						<li><%= link_to "Services", ("/services") %></li>
						<li><%= link_to "Work", ("/work") %></li>
						<li><%= link_to "Process", ("/process") %></li>
						<li><%= link_to "About Us", ("/about")%></li>
						<li><%= link_to "Contact", ("/contact") %></li>
					</ul>
				</div>
			</div>







	<!-- main content container
		========================================================-->
	<div id="main-content" class="container">
	<%= yield %>
	</div>



	<!--  footer
	=========================================================-->
	<footer>
		<div class="container">
			<div class="row">



				<div class="span3">
					<ul class="nav">
						<li><%= link_to "Home", ("/home") %></li>
						<li><%= link_to "Services", ("/services") %></li>
						<li><%= link_to "Work", ("/work") %></li>
						<li><%= link_to "Process", ("/process") %></li>
						<li><%= link_to "About Us", ("/about")%></li>
						<li><%= link_to "Contact", ("/contact") %></li>
					</ul>
				</div>



				<div class="span3">
					<ul class="nav">
						<li><%= link_to "Cantwell on LinkedIn" %></li>
						<li><%= link_to "Cantwell's Blog" %></li>
						<li><%= link_to "Cantwell on Twitter"  %></li>
					</ul>
				</div>



				<div class="span3">
					<ul class="nav">
						<li><%= link_to "Hurwitz on LinkedIn"  %></li>
						<li><%= link_to "Hurwitz's Blog" %></li>
						<li><%= link_to "Hurwitz on Twitter" %></li>
					</ul>
				</div>



				<div class="span3">
					<ul class="nav">
						<li>Copyright &#169; Launch Brick Labs 2012</li>
					</ul>
				</div>


			</div><!-- end row -->
		</div><!-- end footer container-->
	</footer>

</body>
</html>
